.parentImagePreview {
    .imagePreview {
        position: relative;
        display: inline-block;
        height: 100px;
        width: auto;    
        margin-left: 10px;
        margin-bottom: 10px;
        vertical-align: top;
    }
}