nav, navAdditional {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background:#000;
    color: #fff;
    padding:10px;
    text-align: center;

    .link, .navLink {
        position: relative;
        display: inline-block;
        margin-left:5px;
        margin-right:5px;
        cursor: pointer;
    }
/*
    .navLink.addMedia::before {
        width: 20px;
        height: 100%;
        background-color: #f00;
        content: '➕';
    }
*/
}
navAdditional {
    top: auto;
    bottom:0;
}
