.overview {
    position: relative;
    display: inline-block;
    border: 1px solid #aaa;
    background-color: #eee;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    * {
        vertical-align: top;
    }

    .img {
        position: relative;
        display: inline-block;
        width: 140px;
        height: 140px;
        background-size: cover;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.postOverview {
    display: block;
}

.overview:hover {
    background-color: #fff;
    border-color: #000;
}