.overview {
    position: relative;
    display: inline-block;
    border: 1px solid #aaa;
    background-color: #eee;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);

    * {
        vertical-align: top;
    }

    .img {
        position: relative;
        display: inline-block;
        width: 140px;
        height: 140px;
        background-size: cover;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.postOverview {
    display: block;
}

.isDraft {
    margin-left: 50px;
}

.markerDraft {
    position: absolute;
    left: -110px;
    width: 80px;
    transform: rotate(270deg);
    transform-origin: right top;
    text-align: right;
    font-family: allerbold;
    font-size: 24px;
    color: #aaa;
  }

.overview:hover {
    background-color: #fff;
    border-color: #000;
}