.postOverview {
    
    border: 1px solid #aaa;
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 5px;
    padding:5px;

    .img {
        position: relative;
        display: inline-block;
        width: 140px;
        height: 140px;
        background-size: cover;
        margin-right: 10px;
    }
}