@import './footer.css';
@import './modal.css';
@import './buttons.css';
@import './effects.css';
@import './addMedia.css';
@import './overviews.css';
@import './details.css';
@import './nav.css';
@import './macro.css';
@import './fonts.css';
@import './inputs.css';

* {
    font-family: 'allerregular';
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    display: block;
    font-weight: normal;
    font-family: 'allerbold';
}

.containerElement {
    position: relative;
    display: block;
    margin-bottom:5px;
    * {
        vertical-align: middle;
    }
}