.containerWithUserBadge {
    position: relative;
    display: flex;
}

.containerUserBadge {
    position: relative;
    position: absolute;
    left: -110px;
    width: 80px;
    transform: rotate(270deg);
    transform-origin: right top;
    text-align: right;
    font-family: allerbold;
    font-size: 24px;
    color: #aaa;
}

.containerUserBadge img.avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    left: 0px;
    transform: rotate(90deg) translateX(30px) translateY(-5px);
}

.containerUserBadge .username {
    position: absolute;
    right: 65px;
    top: 55px;
   
}

.containerNextToUserBadge {
    position: relative;
    display: inline-block;
    margin-left: 60px;
}